<<<<<<< HEAD
<div class="bg-secondary text-center">
    <p class="fw-bold">Copyright ©2023</p>
    <small>Lic. Sergio Regalado Alessi</small>
=======
<div class="bg-secondary text-center">
    <p class="fw-bold">Copyright ©2023</p>
    <small>Lic. Sergio Regalado Alessi</small>
>>>>>>> d945ea9675924c96a29cf57e88038856732c01ee
</div>